

.App {
    text-align: center;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: transparent;
    height: 3rem;
    padding: 20px;
    font-size: 2rem;
    color: #ff0205;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
    background-color: #fbfaf8;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
